
.header{
    background-color: var(--third-color);
    height: 10vh;
    width: auto;
    .circles{
        display:flex ;
        justify-content: space-around;
        .circle1{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--second-color);
        }
    }
    .circle2{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: var(--fourth-color);
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .circle2bis{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: var(--third-color);
        }
    }
}